{% extends 'main.html.twig' %}

{% block title %}iTunes Movie Trailers parser{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">iTunes Movie Trailers parser</h1>
        <a href="/trailers">Look at the list</a>
    </div>
{% endblock %}
